trigger:
  - master

pool:
  name: LocalAgentPool-LF Finans

variables:
  buildConfiguration: 'Release'

steps:
- task: UseDotNet@2
  inputs:trigger:
  - master

pool:
  name: LocalAgentPool-LF Finans

variables:
  buildConfiguration: 'Release'

steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '5.0.x'

- script: dotnet build TestAutomation.UnitTests/TestAutomation.UnitTests.csproj --configuration $(buildConfiguration)
  displayName: 'Bygg projektet'

- script: dotnet test TestAutomation.UnitTests/TestAutomation.UnitTests.csproj --logger:"trx"
  displayName: 'K칬r tester'

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'VSTest'
    testResultsFiles: '**/*.trx'
    mergeTestResults: true
    failTaskOnFailedTests: true

# 游빍 Visa inneh친ll i allure-results f칬re rapportgenerering
- task: PowerShell@2
  displayName: 'Lista inneh친ll i allure-results'
  inputs:
    targetType: 'inline'
    script: |
      Write-Host "Inneh친ll i allure-results:"
      Get-ChildItem -Path "$(System.DefaultWorkingDirectory)\TestAutomation.UnitTests\bin\$(buildConfiguration)\net5.0\allure-results" -Recurse

- task: PowerShell@2
  displayName: 'Installera Allure CLI'
  inputs:
    targetType: 'inline'
    script: |
      npm install -g allure-commandline

- task: PowerShell@2
  displayName: 'Generera Allure-rapport'
  inputs:
    targetType: 'inline'
    script: |
      $ErrorActionPreference = 'Stop'
      allure generate "$(System.DefaultWorkingDirectory)\TestAutomation.UnitTests\bin\$(buildConfiguration)\net5.0\allure-results" --clean -o "$(Build.ArtifactStagingDirectory)\allure-report"

# 游빍 Visa inneh친ll i allure-report innan publicering
- task: PowerShell@2
  displayName: 'Visa inneh친ll i allure-report'
  inputs:
    targetType: 'inline'
    script: |
      Write-Host "Inneh친ll i allure-report:"
      Get-ChildItem -Path "$(Build.ArtifactStagingDirectory)\allure-report" -Recurse

- task: PublishBuildArtifacts@1
  displayName: 'Publicera Allure-rapport som artifact'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)\allure-report'
    ArtifactName: 'AllureReport'
    publishLocation: 'Container'

    packageType: 'sdk'
    version: '5.0.x'

- script: dotnet build TestAutomation.UnitTests/TestAutomation.UnitTests.csproj --configuration $(buildConfiguration)
  displayName: 'Bygg projektet'

- script: dotnet test TestAutomation.UnitTests/TestAutomation.UnitTests.csproj --logger:"trx"
  displayName: 'K칬r tester'

- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'VSTest'
    testResultsFiles: '**/*.trx'
    mergeTestResults: true
    failTaskOnFailedTests: true

- task: PowerShell@2
  displayName: 'Visa inneh친ll i allure-results'
  inputs:
    targetType: 'inline'
    script: |
      Write-Host "Inneh친ll i allure-results:"
      Get-ChildItem -Path "$(System.DefaultWorkingDirectory)\TestAutomation.UnitTests\bin\$(buildConfiguration)\net5.0\allure-results" -Recurse

- task: PowerShell@2
  displayName: 'Installera Allure CLI'
  inputs:
    targetType: 'inline'
    script: |
      npm install -g allure-commandline

- task: PowerShell@2
  displayName: 'Generera Allure-rapport'
  inputs:
    targetType: 'inline'
    script: |
      $ErrorActionPreference = 'Stop'
      allure generate "$(System.DefaultWorkingDirectory)\TestAutomation.UnitTests\bin\$(buildConfiguration)\net5.0\allure-results" --clean -o "$(Build.ArtifactStagingDirectory)\allure-report"

- task: PowerShell@2
  displayName: 'Visa inneh친ll i allure-report'
  inputs:
    targetType: 'inline'
    script: |
      Write-Host "Inneh친ll i allure-report:"
      Get-ChildItem -Path "$(Build.ArtifactStagingDirectory)\allure-report" -Recurse

- task: PublishBuildArtifacts@1
  displayName: 'Publicera Allure-rapport som artifact'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)\allure-report'
    ArtifactName: 'AllureReport'
    publishLocation: 'Container'

- task: PowerShell@2
  displayName: 'Publicera Allure-rapport till GitHub Pages'
  inputs:
    targetType: 'inline'
    script: |
      git config --global user.email "rezaac@hotmail.com"
      git config --global user.name "refa61"

      git clone https://$env:GITHUB_TOKEN@github.com/refa61/LFFinansAutomation.git gh-pages-temp
      cd gh-pages-temp

      git checkout gh-pages 2>$null
      if ($LASTEXITCODE -ne 0) {
        git checkout --orphan gh-pages
      }

      Remove-Item * -Recurse -Force -ErrorAction SilentlyContinue
      Copy-Item "$(Build.ArtifactStagingDirectory)\allure-report\*" -Destination . -Recurse

      git add .
      git commit -m "Uppdaterad Allure-rapport $(Build.BuildId)"
      git push origin gh-pages --force
